/*criando variavel em css*/
:root
{
    --vermelho: #e50914;
    --preta: #141414;
}
/*zerando os espaçamentos do index.html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*garantindo o limite dos elementos dentro da div. Elementos serão comprimido dentro da caixa, para não romper o limite da div.*/
}

body
{
    background: var(--preta); /*utilizando a variavel criada --preta*/
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

header .container
{
    border: 2px solid black;
    display: flex; /*carregando e já fica alinhado ao eixo  linha*/
    align-items: center; /*estão ao centro vertical*/
    justify-content: space-between; /*estão na horizontal. Criando o espaço entre a tag h2 e nav*/
    margin-left: 5px;/*espaçamento a esquerda*/
}

header .logo
{
    color: var(--vermelho); /*a cor vermelha da fonte através da variavel --vermelho*/
    font-family: 'Arial Black', 'Times New Roman', Times, serif;
    font-size: 50px; /*tamanho da fonte*/
}

header nav a{
    text-decoration: none;/*tirando o sublinhado*/
    color: #AAA; /*cor da fonte - menus */
    margin-right: 10px; /*espacamento em cada item a direita*/
}

header nav a:hover /*ao direcionar o curso do mouse em cima dos menus*/
{
    color: #fff;/*terá essa cor*/
}

/* main */
.filme-principal
{
    font-size: 16px; /*tamanho da fonte*/
    /*escurecendo pouco a imagem - gradiente tem mais duas cores.*/
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../imagem/capaARodaDoTempo.jpg);/*imagem como fundo*/
    height: 400px;/*altura - até ainda fica ruim a imagem*/
    background-size: cover;/*excelente - especificando tamanho da imagem pegue a área de cobertura da div*/
    display: flex; /*eixo linha, porém na vertical*/
    flex-direction: column; /*tirando o eixo linha e colocando eixo coluna*/
    justify-content: center; /*no centro o conteudo do container*/
    align-items: flex-start;/*elementos começando na esquerda*/


}