/*criando variavel em css*/
:root
{
    --vermelho: #e50914;
    --preta: #141414;
}
/*zerando os espaçamentos do index.html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*garantindo o limite dos elementos dentro da div. Elementos serão comprimido dentro da caixa, para não romper o limite da div.*/
}

body
{
    background: var(--preta); /*utilizando a variavel criada --preta*/
    font-family: 'Times New Roman', Times, serif;
}

header .container
{
    border: 2px solid black;
}

header .logo
{
    color: var(--vermelho); /*a cor vermelha da fonte através da variavel --vermelho*/
    font-family: 'Arial Black', 'Times New Roman', Times, serif;
    font-size: 50px; /*tamanho da fonte*/
}